<div style="text-align: center; background-color: #559cff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final Project - Programming For Data Science @ FIT-HCMUS, VNU-HCM ðŸ“Œ
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Preprocessing
</div>

## Import

In [130]:
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import re

## Exploring Data

### Read raw data from file

In [131]:
raw_df = pd.read_csv('../data/raw/IMDbMovies.csv')

In [132]:
# TEST
raw_df.head()

,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide,Opening Weekend Gross in US & Canada
0,Napoleon,An epic that details the checkered rise and fa...,Ridley Scott,David Scarpa,"Action,Adventure,Biography",R,2h 38m,2023.0,6.7/10,38K,NaN,"$37,514,498","$84,968,381","$20,638,887Nov 26, 2023"
1,The Hunger Games: The Ballad of Songbirds & Sn...,Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,2h 37m,2023.0,7.2/10,37K,"$100,000,000 (estimated)","$105,043,414","$191,729,235","$44,607,143Nov 19, 2023"
2,The Killer,"After a fateful near-miss, an assassin battles...",David Fincher,"Andrew Kevin Walker,Luc Jacamon,Alexis Nolent","Action,Adventure,Crime",R,1h 58m,2023.0,6.8/10,117K,NaN,NaN,"$421,332",NaN
3,Leo,A 74-year-old lizard named Leo and his turtle ...,"David Wachtenheim,Robert Smigel,Robert Marianetti","Paul Sado,Robert Smigel,Adam Sandler","Animation,Comedy,Family",PG,1h 42m,2023.0,7.0/10,10K,NaN,NaN,NaN,NaN
4,Thanksgiving,"After a Black Friday riot ends in tragedy, a m...",Eli Roth,"Eli Roth,Jeff Rendell","Horror,Mystery,Thriller",R,1h 46m,2023.0,7.0/10,9.1K,NaN,"$25,408,677","$29,666,585","$10,306,272Nov 19, 2023"

### How many rows and how many columns does the raw data have?

Next, I calculate the number of rows and columns of the DataFrame `raw_df` and store it in the variable `shape` (tuple). **If my data has the number of rows smaller than 1000, please crawl the data once again with larger year interval**.

In [133]:
shape = raw_df.shape

In [134]:
# TEST
print(f"Current shape: {shape}")

if shape[0] > 1000:
    print(f"Your data good!.")
else:
    print(f"Your raw data absolutely small. Please choose larger year interval.!")

Current shape: (9083, 14)
Your data good!.

### What does each row mean?


Each row indicates the values â€‹â€‹corresponding to eachcolumn.n

### Does the raw data have duplicate rows?

Next, I calculate the number of rows with duplicate indexes and store it in the variable `num_duplicated_rows`. In a group of lines with the same index, the first line is not counted as repeated.

In [135]:
duplicated_df = raw_df[raw_df.duplicated()]
num_duplicated_rows = duplicated_df.shape[0]

In [136]:
# TEST
if num_duplicated_rows == 0:
    print(f"Raw data has no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Raw data has {num_duplicated_rows} duplicated " + ext + ". Please de-deduplicate raw data.!")

Raw data has no duplicated line.!

In [137]:
# De-deduplicate raw data
raw_df = raw_df.drop_duplicates()
raw_df.head()

,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime,Release Year,Rating,Number of Ratings,Budget,Gross in US & Canada,Gross worldwide,Opening Weekend Gross in US & Canada
0,Napoleon,An epic that details the checkered rise and fa...,Ridley Scott,David Scarpa,"Action,Adventure,Biography",R,2h 38m,2023.0,6.7/10,38K,NaN,"$37,514,498","$84,968,381","$20,638,887Nov 26, 2023"
1,The Hunger Games: The Ballad of Songbirds & Sn...,Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,2h 37m,2023.0,7.2/10,37K,"$100,000,000 (estimated)","$105,043,414","$191,729,235","$44,607,143Nov 19, 2023"
2,The Killer,"After a fateful near-miss, an assassin battles...",David Fincher,"Andrew Kevin Walker,Luc Jacamon,Alexis Nolent","Action,Adventure,Crime",R,1h 58m,2023.0,6.8/10,117K,NaN,NaN,"$421,332",NaN
3,Leo,A 74-year-old lizard named Leo and his turtle ...,"David Wachtenheim,Robert Smigel,Robert Marianetti","Paul Sado,Robert Smigel,Adam Sandler","Animation,Comedy,Family",PG,1h 42m,2023.0,7.0/10,10K,NaN,NaN,NaN,NaN
4,Thanksgiving,"After a Black Friday riot ends in tragedy, a m...",Eli Roth,"Eli Roth,Jeff Rendell","Horror,Mystery,Thriller",R,1h 46m,2023.0,7.0/10,9.1K,NaN,"$25,408,677","$29,666,585","$10,306,272Nov 19, 2023"

### What does each column mean?

I don't have the meaning of each column available, so I will parse it from `kaggle`.

In [138]:
import requests as req
from bs4 import BeautifulSoup

features = raw_df.columns.values.tolist()
descriptions = []

url = 'https://www.kaggle.com/datasets/elvinrustam/imdb-movies-dataset'
response = req.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
needed_text = str(soup.find_all('script', type = "application/ld+json")[0])
needed_text = needed_text.split('\\n\\n')

for feature in features:
    for item in needed_text:
        item = item.replace('amp;', '')
        if f'**{feature}:**' in item:
            values = item.replace('**', '').split(':')

            desc = values[1].strip()
            if feature == 'Motion Picture Rating':
                idx = needed_text.index(item)
                categories = needed_text[(idx + 2) : (idx + 7)]
                
                for cate in categories:
                    cate = cate.strip().replace('**', '')
                    desc += '\n' + cate
                    
            descriptions.append(desc)
            break
meaning_col = pd.DataFrame(list(dict(zip(features, descriptions)).items()), columns = ['Feature', 'Description'])
meaning_col

,Feature,Description
0,Title,The name of the movie.
1,Summary,A brief overview of the movie's plot.
2,Director,The person responsible for overseeing the crea...
3,Writer,The individual who crafted the screenplay and ...
4,Main Genres,The primary categories or styles that the movi...
5,Motion Picture Rating,The age-appropriate classification for viewers...
6,Runtime,The total duration of the movie.
7,Release Year,The year in which the movie was officially rel...
8,Rating,The average score given to the movie by viewers.
9,Number of Ratings,The total count of ratings submitted by viewers.
10,Budget,The estimated cost of producing the movie.
11,Gross in US & Canada,The total earnings from the movie's screening ...
12,Gross worldwide,The overall worldwide earnings of the movie.
13,Opening Weekend Gross in US & Canada,The amount generated during the initial weeken...

### What data type does each column currently have? Are there any columns whose data types are not suitable for further processing?

In this step, I calculate the data type (dtype) of each column in DataFrame `raw_df` and save the result into Series `dtypes` (This Series has the index as the column name).

In [139]:
dtypes = raw_df.dtypes

In [140]:
# TEST
dtypes

Title                                    object
Summary                                  object
Director                                 object
Writer                                   object
Main Genres                              object
Motion Picture Rating                    object
Runtime                                  object
Release Year                            float64
Rating                                   object
Number of Ratings                        object
Budget                                   object
Gross in US & Canada                     object
Gross worldwide                          object
Opening Weekend Gross in US & Canada     object
dtype: object

We observe that some columns have unsuitable data types or special presentations such as `Runtime`, `Release Year`, `Rating`, etc. Therefore, we should convert them and normalize some columns with special presentations. Columns have to convert:
- `Runtime` : numeric (minutes)
- `Release Year` : int64
- `Rating`, `Number of Ratings`, `Budget`, `Gross in US & Canada`, `Gross worldwide`, `Opening Weekend Gross in US & Canada` : numeric

#### Convert `Runtime` column

In [141]:
def convertRuntime(inp):
    if inp is np.nan:
        return inp
    hour = 0
    min = 0
    for item in inp.split(' '):
        if 'h' in item:
            hour = int(item[:-1])
        elif 'm' in item:
            min = int(item[:-1])
    return hour * 60 + min
    
raw_df['Runtime'] = raw_df['Runtime'].apply(convertRuntime)
raw_df.rename(columns = {'Runtime' : 'Runtime (Minutes)'}, inplace = True)
raw_df['Runtime (Minutes)']

0       158.0
1       157.0
2       118.0
3       102.0
4       106.0
        ...
9078     95.0
9079     98.0
9080    152.0
9081    152.0
9082    157.0
Name: Runtime (Minutes), Length: 9083, dtype: float64

#### Convert `Release Year` column

In [142]:
raw_df['Release Year'] = raw_df['Release Year'].astype('str')
raw_df['Release Year']

0       2023.0
1       2023.0
2       2023.0
3       2023.0
4       2023.0
         ...
9078    2020.0
9079    2003.0
9080    1952.0
9081    1952.0
9082    2011.0
Name: Release Year, Length: 9083, dtype: object

#### Convert `Ratings` and `Number of Ratings` columns

In [143]:
raw_df['Rating'] = raw_df['Rating'].apply(lambda x: None if x is np.nan else float(x[:-3]))
raw_df.rename(columns = {'Rating' : 'Rating (Out of 10)'}, inplace = True)
raw_df['Rating (Out of 10)']

0       6.7
1       7.2
2       6.8
3       7.0
4       7.0
       ...
9078    6.3
9079    6.4
9080    6.5
9081    NaN
9082    7.8
Name: Rating (Out of 10), Length: 9083, dtype: float64

In [144]:
raw_df['Number of Ratings'] = raw_df['Number of Ratings'].apply(lambda x: float(x.replace('K', ''))
                                                                if pd.notna(x) and 'K' in x else
                                                                float(x.replace('M', '')) * 1000
                                                                if pd.notna(x) and 'M' in x else 
                                                                pd.to_numeric(x, errors = 'coerce'))
raw_df.rename(columns = {'Number of Ratings' : 'Number of Ratings (in thousands)'}, inplace = True)
raw_df['Number of Ratings (in thousands)']

0        38.0
1        37.0
2       117.0
3        10.0
4         9.1
        ...
9078     24.0
9079     15.0
9080     16.0
9081      NaN
9082     49.0
Name: Number of Ratings (in thousands), Length: 9083, dtype: float64

#### Convert Columns of Currency Unit

Notes that column `Opening Weekend Gross in US & Canada` has both `Currency` and `Datetime` in each value. Therefore, we should remove the `Datetime` part because it's not important, and keep the `Currency` sequence to convert.

In [145]:
def convertCurrency(inp):
    if inp is np.nan:
        return None
    inp = inp.replace(',', '')
    return pd.to_numeric(re.search(r'\d+', inp).group()) / 1000000
    
raw_df['Budget (in milions)'] = raw_df['Budget'].apply(convertCurrency)
raw_df['Gross in US & Canada (in milions)'] = raw_df['Gross in US & Canada'].apply(convertCurrency)
raw_df['Gross worldwide (in milions)'] = raw_df['Gross worldwide'].apply(convertCurrency)
raw_df['Opening Weekend Gross in US & Canada (in milions)'] = raw_df['Opening Weekend Gross in US & Canada'].apply(convertCurrency)
raw_df = raw_df.drop(columns = ['Budget', 'Gross in US & Canada', 'Gross worldwide', 'Opening Weekend Gross in US & Canada'], axis = 1)

In [146]:
# Result after converting
raw_df.dtypes

Title                                                 object
Summary                                               object
Director                                              object
Writer                                                object
Main Genres                                           object
Motion Picture Rating                                 object
Runtime (Minutes)                                    float64
Release Year                                          object
Rating (Out of 10)                                   float64
Number of Ratings (in thousands)                     float64
Budget (in milions)                                  float64
Gross in US & Canada (in milions)                    float64
Gross worldwide (in milions)                         float64
Opening Weekend Gross in US & Canada (in milions)    float64
dtype: object

In [147]:
# TEST
dtypes = raw_df.dtypes
float_cols = set(dtypes[(dtypes==np.float32) | (dtypes==np.float64)].index)
assert len(float_cols) == 7
object_cols = set(dtypes[dtypes == object].index)
assert len(object_cols) == 7

### For each column with numeric data type, how are the values distributed?

For columns with numeric data types, I will calculate:
- Percentage of missing values
- The min
- The lower quartile
- The median
- The upper quartile
- The max

I will save the results to a DataFrame `num_col_info_df`, where:
- The names of the columns are the names of the numeric columns in `raw_df`
- Names of rows: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"  

For ease of viewing, I round all values to 1 decimal place using the `.round(1)` method.

In [148]:
def missing_ratio(df : pd.Series):
    return (df.isnull().sum() * 100 / len(raw_df)).round(1)
def lower_quartile(df : pd.Series):
    return (df.quantile(q = 0.25)).round(1)
def median(df : pd.Series):
    return (df.quantile(q = 0.5)).round(1)
def upper_quartile(df : pd.Series):
    return (df.quantile(q = 0.75)).round(1)

num_col_info_df = raw_df.select_dtypes(exclude = 'object')
num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])
num_col_info_df

,Runtime (Minutes),Rating (Out of 10),Number of Ratings (in thousands),Budget (in milions),Gross in US & Canada (in milions),Gross worldwide (in milions),Opening Weekend Gross in US & Canada (in milions)
missing_ratio,1.8,3.0,3.0,35.30000,33.200000,21.500000,37.300000
min,41.0,1.3,1.0,0.00003,0.000064,0.000016,0.000063
lower_quartile,95.0,5.8,18.0,6.00000,4.100000,2.900000,0.200000
median,105.0,6.5,50.0,20.00000,23.000000,23.800000,5.300000
upper_quartile,118.0,7.2,133.0,46.20000,57.500000,89.000000,14.700000
max,607.0,10.0,2800.0,30000.00000,936.662225,2923.706026,357.115007

In [149]:
# Visualize (OPTIONAL)

In [150]:
dict(num_col_info_df.iloc[0])

{'Runtime (Minutes)': 1.8,
 'Rating (Out of 10)': 3.0,
 'Number of Ratings (in thousands)': 3.0,
 'Budget (in milions)': 35.3,
 'Gross in US & Canada (in milions)': 33.2,
 'Gross worldwide (in milions)': 21.5,
 'Opening Weekend Gross in US & Canada (in milions)': 37.3}

After identifying the basic statistical numbers that describe my data, I further need to determine the features that have a large number of missing values. Such features are not useful for the analysis stage and must be removed from the dataset.

Depending on my goals, the threshold for "large" can be defined. Usually, if the percentage of missing values is greater than 50%, the column is dropped from the dataframe and an updated dataframe is returned.

In [151]:
def drop_missing_features(df: pd.DataFrame, missing_lst: dict = dict(num_col_info_df.iloc[0]), threshold: float = 50.0) -> pd.DataFrame:
    for col in df.columns:
        if df[col].dtype != np.float64 or df[col].dtype != np.float32:
            continue
        elif missing_lst[col] > threshold:
            df = df.drop(col, axis = 1)
    return df

In [152]:
raw_df = drop_missing_features(raw_df)

In [153]:
# TEST
raw_df.head()

,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime (Minutes),Release Year,Rating (Out of 10),Number of Ratings (in thousands),Budget (in milions),Gross in US & Canada (in milions),Gross worldwide (in milions),Opening Weekend Gross in US & Canada (in milions)
0,Napoleon,An epic that details the checkered rise and fa...,Ridley Scott,David Scarpa,"Action,Adventure,Biography",R,158.0,2023.0,6.7,38.0,NaN,37.514498,84.968381,20.638887
1,The Hunger Games: The Ballad of Songbirds & Sn...,Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,157.0,2023.0,7.2,37.0,100.0,105.043414,191.729235,44.607143
2,The Killer,"After a fateful near-miss, an assassin battles...",David Fincher,"Andrew Kevin Walker,Luc Jacamon,Alexis Nolent","Action,Adventure,Crime",R,118.0,2023.0,6.8,117.0,NaN,NaN,0.421332,NaN
3,Leo,A 74-year-old lizard named Leo and his turtle ...,"David Wachtenheim,Robert Smigel,Robert Marianetti","Paul Sado,Robert Smigel,Adam Sandler","Animation,Comedy,Family",PG,102.0,2023.0,7.0,10.0,NaN,NaN,NaN,NaN
4,Thanksgiving,"After a Black Friday riot ends in tragedy, a m...",Eli Roth,"Eli Roth,Jeff Rendell","Horror,Mystery,Thriller",R,106.0,2023.0,7.0,9.1,NaN,25.408677,29.666585,10.306272

After remove features which have large missing values, our dataframe still have missing values. So that, we need to fill these missing values so that they can be used in analysis.

In [154]:
def filling_missing_value(df: pd.DataFrame) -> pd.DataFrame:
    for col in df.columns:
        for value in df[col]:
            if value is None:
                value = np.NaN
    for col in df.select_dtypes(include = 'number').columns:
        mean = df[col].mean().round(1)
        df[col] = df[col].fillna(mean)
    return df

In [155]:
raw_df = filling_missing_value(raw_df)

In [156]:
# TEST
raw_df.head()

,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Runtime (Minutes),Release Year,Rating (Out of 10),Number of Ratings (in thousands),Budget (in milions),Gross in US & Canada (in milions),Gross worldwide (in milions),Opening Weekend Gross in US & Canada (in milions)
0,Napoleon,An epic that details the checkered rise and fa...,Ridley Scott,David Scarpa,"Action,Adventure,Biography",R,158.0,2023.0,6.7,38.0,67.8,37.514498,84.968381,20.638887
1,The Hunger Games: The Ballad of Songbirds & Sn...,Coriolanus Snow mentors and develops feelings ...,Francis Lawrence,"Michael Lesslie,Michael Arndt,Suzanne Collins","Action,Adventure,Drama",PG-13,157.0,2023.0,7.2,37.0,100.0,105.043414,191.729235,44.607143
2,The Killer,"After a fateful near-miss, an assassin battles...",David Fincher,"Andrew Kevin Walker,Luc Jacamon,Alexis Nolent","Action,Adventure,Crime",R,118.0,2023.0,6.8,117.0,67.8,46.800000,0.421332,12.500000
3,Leo,A 74-year-old lizard named Leo and his turtle ...,"David Wachtenheim,Robert Smigel,Robert Marianetti","Paul Sado,Robert Smigel,Adam Sandler","Animation,Comedy,Family",PG,102.0,2023.0,7.0,10.0,67.8,46.800000,87.100000,12.500000
4,Thanksgiving,"After a Black Friday riot ends in tragedy, a m...",Eli Roth,"Eli Roth,Jeff Rendell","Horror,Mystery,Thriller",R,106.0,2023.0,7.0,9.1,67.8,25.408677,29.666585,10.306272

In [157]:
# TEST
raw_df.select_dtypes(exclude='object').agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

,Runtime (Minutes),Rating (Out of 10),Number of Ratings (in thousands),Budget (in milions),Gross in US & Canada (in milions),Gross worldwide (in milions),Opening Weekend Gross in US & Canada (in milions)
missing_ratio,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000
min,41.0,1.3,1.0,0.00003,0.000064,0.000016,0.000063
lower_quartile,95.0,5.9,18.0,13.00000,12.400000,6.400000,2.600000
median,105.0,6.5,52.0,50.00000,46.800000,48.500000,12.500000
upper_quartile,118.0,7.2,128.0,67.80000,46.800000,87.100000,12.500000
max,607.0,10.0,2800.0,30000.00000,936.662225,2923.706026,357.115007

### For each column with a non-numeric data type, how are the values distributed?

For columns with non-numeric data types, I calculate:
- Percentage (from 0 to 100) of missing values
- Number of values (the values here are different values and we do not consider missing values): with columns whose type is categorical, it is a set with a finite number of categories. Directly counting the number of values in these columns doesn't make much sense, so it's better to count the number of elements of all types.
- The percentage (from 0 to 100) of each value is sorted by decreasing percentage (we do not consider missing values, the ratio is the ratio compared to the number of non-missing values): you use a dictionary to store , key is the value, value is the percentage; With the column corresponding to each type, the method is similar to above.

I will save the results to DataFrame `cat_col_info_df`, where:
- The names of the columns are the names of the non-numeric columns in `raw_df`
- The names of the lines are: "missing_ratio", "num_values", "value_ratios"

For ease of viewing, I round all values to 3 decimal place using the `.round(3)` method.

In [158]:
pd.set_option('display.max_colwidth', 100) # For clearly
pd.set_option('display.max_columns', None) # For clearly

In [159]:
cat_col_info_df = raw_df.select_dtypes(include = 'object')

def num_values(ser : pd.Series):
    return len(ser.unique())
def value_ratios(ser : pd.Series) -> dict:
    return (ser.value_counts(dropna = True) * 100 / len(ser)).round(3).to_dict()

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,Title,Summary,Director,Writer,Main Genres,Motion Picture Rating,Release Year
missing_ratio,0.0,0.0,0.3,3.6,0.1,8.8,0.0
num_values,8728,9051,4364,7854,461,26,107
value_ratios,"{'The Killer': 0.044, 'The Three Musketeers': 0.044, 'The Vanishing': 0.033, 'Fantastic Four': 0...","{'Plot under wraps.': 0.187, 'Plot under wraps': 0.077, 'Plot kept under wraps.': 0.055, 'The pl...","{'Steven Spielberg': 0.363, 'Clint Eastwood': 0.341, 'Martin Scorsese': 0.319, 'Ridley Scott': 0...","{'John Hughes': 0.187, 'Woody Allen': 0.176, 'Kevin Smith': 0.132, 'M. Night Shyamalan': 0.099, ...","{'Drama': 4.668, 'Comedy,Drama,Romance': 3.666, 'Drama,Romance': 3.435, 'Comedy': 2.984, 'Comedy...","{'R': 38.622, 'PG-13': 21.381, 'PG': 12.639, 'Not Rated': 6.595, 'TV-MA': 2.664, 'G': 2.345, 'Ap...","{'2023.0': 9.677, '2022.0': 6.143, '2021.0': 3.743, '2018.0': 3.413, '2019.0': 3.325, '2017.0': ..."

In [160]:
# Visualize (OPTIONAL)

### Is the collected data reasonable?

**Question 1**: Is there any value in the `Rating (Out of 10)` column that exceeds 10?

In [161]:
def is_out_of_10(ser: pd.Series):
    results = ser > 10
    return results.value_counts()[False]

In [162]:
# TEST
assert is_out_of_10(raw_df['Rating (Out of 10)']) == len(raw_df)

The test is True, so there is no value in `Rating (Out of 10)` column that exceeds 10. This column is reasonable.

**Question 2**: Ares`Gross in US & Canada (in milions)`'s values greateress th`Opening Weekend Gross in US & Canada (in milions)`'s valuesher?

In [163]:
def checkout_gross(ser1: pd.Series, ser2: pd.Series):
    result = ser1 >= ser2
    return result.value_counts()[False]

In [164]:
# TEST
assert checkout_gross(raw_df['Gross in US & Canada (in milions)'], raw_df['Opening Weekend Gross in US & Canada (in milions)']) > 0

### Save processed data

In [165]:
print(f"Total number of features: {raw_df.shape[1]}")
raw_df.dtypes

Total number of features: 14

Title                                                 object
Summary                                               object
Director                                              object
Writer                                                object
Main Genres                                           object
Motion Picture Rating                                 object
Runtime (Minutes)                                    float64
Release Year                                          object
Rating (Out of 10)                                   float64
Number of Ratings (in thousands)                     float64
Budget (in milions)                                  float64
Gross in US & Canada (in milions)                    float64
Gross worldwide (in milions)                         float64
Opening Weekend Gross in US & Canada (in milions)    float64
dtype: object

In [166]:
raw_df.to_csv(f"../data/processed/IMDbMovies_processed.csv", index = False)